* {
    box-sizing: border-box;
}
html { height:100%; }
body { 
	margin:0; 
	font-family: 'Quattrocento Sans', sans-serif;
	color: #595959;
	height: 100%;
	} 
/* Grid Sizing for Mobile - mobile first*/
.container {
	display: grid; 
	grid-template-columns: 5% 1fr 5%;		
	justify-content: stretch;
	justify-items: stretch;
	align-items: stretch;
}
.whiteContainer {
	grid-column: 2 / 3;
	display: grid; 
	grid-template-columns: 1fr;		
	justify-content: stretch;
	justify-items: stretch;
	align-items: stretch;
	margin-bottom: 45px;
}
.background1, .background2 {
	grid-column: 1 / 4;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.background1 {
	background-image: url("images/venicesm.jpg");
	padding: 150px 5% 200px;
}
.background2 {
	background-image: url("images/venicesm.jpg");
	padding: 40px 5% 15px;
}
.cite {
	grid-column: 2 / 3;
	font-size: 1em;
	text-align: center;
}
.header {
	text-align: left;
	padding: 0 10px;
	background-color: white;
	position: fixed;
	right: 0;
	left: 0;
	height: 80px;
}
.logo {
	width: 100%;
	max-width: 320px;
}
.contactUs {
	text-align: right;
	position: fixed;
	right: 0;
	top: 55px;
	margin: 0;
	padding: 0;
}
.linkStyle {
	font-size: 1.1em;
	padding-right: 20px;
}
.signup, .signup2  {
	grid-column: 2 / 3;
	background-color: rgba(71, 71, 71, 0.9);
	border-radius: 20px;
	color: white;
	margin: 30px 0px;
	padding: 20px;
	justify-self: center;
	max-width: 350px;
}
.col-1, .col-2, .col-3, .col-4 {
	grid-column: 2 / 3;
}
.spanAll {
	grid-column: 2 / 3;
	align-self: center;
}
.bottomLinks {
	padding: 25px 0 15px;
	text-align: center;
	grid-column: 2 / 3;
}
.howSpan {
	grid-column: 1 / 4;
	text-align: center;
	align-self: center;
	padding: 45px 0px;
}
.works {
	border: 2px black solid;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	margin: 5px;
	justify-self: center;
}
.icons {
	width: 75%;
	max-width: 120px;
	min-width: 100px;
	padding: 10px;
	text-align: center;
}
.socialMediaIcon {
	width: 50px;
	margin: 20px 10px;
	grid-column: 2 /3;
}
.socialMedia {
	grid-column: 2 / 3;
	text-align: center;
	justify-self: center;
}
.description {
	grid-column: 2 / 3;
	background-color: rgba(71, 71, 71, 0.9);
	border-radius: 20px;
	color: white;
	padding: 20px;
	max-width: 500px;
}
/*Tags*/
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.9em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 0.8em;
}
h1, h2, h3, h4 {
	margin: 5px 0;
}
p {
	font-size: 1em;
}
img {
    display: inline-block;
}
a {
	text-decoration: none;
}
/* unvisited link */
a.linkStyle:link {
	color: #2fb1c0;
	font-weight: bold;
}
/* visited link */
a.linkStyle:visited {
	color: #2fb1c0;
}
/* mouse over link */
a.linkStyle:hover {
	color: #f5a71d;
}
/* selected link */
a.linkStyle:active {
	color: #ef385d;
}
a.cite:link {
	color: #595959;
}
a.cite:visited {
	color: #505050;
}
a.cite:hover {
	color: #707070;
}
a.cite:active {
	color: #505050;
}
/*Classes*/
.center {
	text-align: center;
}
.leftalign {
	text-align:left;
}
.rightalign {
	text-align:right;
}
.gold {
	color: #ffc000;
}
.blue {
	color: #2fb1c0;
}
.textWhite {
	color: white;
}
.smallCaps {
    font-variant: small-caps;
}

/*Form design*/
input[type=text], select {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
	max-width: 300px;
}
input[type=submit] {
	background-color: #2fb1c0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 0.8em;
}
input[type=submit]:hover {
    background-color: #f5a71d;
}
@media screen and (max-width: 350px) {
	.contactUs {
		left: 0;
		background-color: white;
		top: 70px;
		margin: 0;
		padding: 0;
	}
}
/* Grid sizing for desktop - mobile is default */
@media screen and (min-width: 480px) {
	.background1, .background2 {
		grid-column: 1 / 7;
	}
	.background1 {
		background-image: url("images/venicemd.jpg");
		padding: 200px 5% 300px;
	}
	.background2 {
		background-image: url("images/venicemd.jpg");
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.container {
		grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
	}
	.whiteContainer {
		grid-column: 2 / 6;
		grid-template-columns: 1fr 1fr 1fr 1fr;		
	}
	.logo {
		width: 420px;
		max-width: 420px;
	}
	.icons {
		max-width: 130px;
		padding: 10px;
}
	.description {
		grid-column: 2 / 6;
		
		justify-self: center;
	}
	.header {
		grid-column: 2 / 6;
		height: 105px;
	}
	.contactUs {
		position: fixed;
		right: 0;
		top: 75px; 
	}
	.linkStyle {
		font-size: 1.25em;
		padding-right: 30px;
	}
	.signup, .signup2 {
		grid-column: 2 / 6;
	}
	.signup {
		margin-top: 150px;
		margin-bottom: 30px;
	}
	.col-1, .col-2, .col-3, .col-4 {
		max-width: 300px;
	}
	.col-1 {
		grid-column: 1 / 3;
	}
	.col-2 {
		grid-column: 3 / 5;
	}
	.col-3 {
		grid-column: 1 / 3;
	}
	.col-4 {
		grid-column: 3 / 5;
	}
	.spanAll {
		grid-column: 2 / 6;	
	}
	.howSpan {
		grid-column: 1 / 7;
	}
	p {
		font-size: 0.8em;
	}
	#contact {
		font-size: 1.2em;
	}
	.cite {
		grid-column: 2 / 6;
		font-size: 1.1em;
	}
	.socialMedia {
		grid-column: 2 / 6;
	}
	.bottomLinks {
		grid-column: 2 / 6;
	}
}
@media screen and (min-width: 780px) {
	.background1 {
		background-image: url("images/venicelg.jpg");
		padding: 200px 5% 300px;
	}
	.background2 {
		background-image: url("images/venicelg.jpg");
		padding: 100px 5% 100px;
	}
	.col-1 {
		grid-column: 1 / 2;
	}
	.col-2 {
		grid-column: 2 / 3;
	}
	.col-3 {
		grid-column: 3 / 4;
	}
	.col-4 {
		grid-column: 4 / 5;
	}
	.description {
		grid-column: 2 / 5;
		width: 440px;
		justify-self: left;
	}
	.signup {
		grid-column: 4 / 6;
		grid-row: 2 / 3;
		justify-self: right;
	}
	.signup2 {
		grid-column: 4 / 6;
	}
	.socialMedia {
		text-align: right;
		grid-column: 4 / 6;
	}
	.bottomLinks {
		text-align: left;
		grid-column: 2 / 4;
	}
	
}
@media screen and (min-width: 1200px) {
	.background1 {
		padding: 200px 10% 400px;
	}
	.background2 {
		padding: 120px 5% 120px;
	}
	.description {
		grid-column: 2 / 5;
		width: 550px;
	}
}